@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #f3f6fd;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.app-container {
    height: 100vh;
    padding: 1rem;
}